<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style_login.css" />
	<script type="text/javascript" src="../js/edit.js"></script>
	<title>Setts</title>
</head>
<body>	 
	<main>
		<div class="divsett">
			<img class="sett"src="../image/setts.png"/>
		</div>

		<h1>ETTS</h1>

		<form name="form_login" id="form_login" action="#" method="POST">	
			<div class="loginesenha">
				<div class="divlogin">
					<label class="login" >
						<input required placeholder="login">
					</label>
				</div>
				<div class="divsenha">    
					<label class="senha">			     
						<input  id="senhalogin" type="password" placeholder="senha" required>
					</label>
				</div>
				<div class="divcadastro">
					<a class="botaocadastro" href="cadastro.html">Cadastre-se</a>
				</div>
			</div>  
			<div class="divbutton">
				<button class ="botao">Entrar</button>
			</div>	
		</form>	
	</main>	
</body>
</html>
	